# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
env/
venv/
.venv/
conda-env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
*.ipynb~

# =========================
# IDE / OS
# =========================
.idea/
.vscode/
.DS_Store
Thumbs.db

# =========================
# Build / Packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs / Cache
# =========================
*.log
.cache/

# =========================
# Models (IGNORED ALL TRAINED MODELS)
# =========================
models/
*.keras
*.h5
*.ckpt

# =========================
# Data 
# =========================
data/*

# =========================
# Pickle files
# =========================
*.pkl

# =========================
# Documents / Reports
# =========================
*.doc
*.docx
*.pdf

# =========================
# Temporary / Experiments
# =========================
tmp/
temp/
experiments/
